@media (max-width: 480px){
    #section{
        font-size: medium;
        margin-top: 25%;
    }
    
    button{
        border-radius: 10px;
        font-size: small;
        margin-top: 50%;
        padding: 2px;
        width: 80px;
    }

    .button-white{
        border-radius: 10px;
        font-size: small;
        margin-top: 50%;
        padding: 2px;
        width: 80px;
    }

    .open-sans-regular{
        font-weight: 200;
    }
}

@media (min-width: 480.1px) and (max-width: 2500px) {
    #section{
        font-size: x-large;
        margin-top: 12%;
    }
    button{
        border-radius: 15px;
        font-size: medium;
        margin-top: 2%;
        padding: 7.5px;
        width: 120px;
    }

    .button-white{
        border-radius: 15px;
        font-size: medium;
        padding: 7.5px;
        width: 120px;
    }

    .open-sans-regular{
        font-weight: 400;
    }
}

button:hover{
    color:#eee;
    cursor: pointer;
}

button{
    border-bottom: solid 2px #111;
    border-top: solid 2px #111;
    border-left: transparent;
    border-right: transparent;
    background-color: transparent;
}

.colorTransition{
    transition: color 1s linear;
}

.button-white:hover{
    color:#111;
    cursor: pointer;
}

.button-white{
    border-bottom: solid 2px #eee;
    border-top: solid 2px #eee;
    border-left: transparent;
    border-right: transparent;
    background-color: transparent;
}

.poetsen-one-regular{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#section{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    height: auto;
}

h1{
    color: #eee;
    background-color: #111;
    border-radius: 5px;
    border: 5px solid  #111;
    margin-top: 0;
    text-align: center;
}

.h1-white{
    color: #111;
    background-color: #eee;
    border-radius: 5px;
    border: 5px solid  #eee;
    margin-top:0;
    text-align: center;
}

p{
    margin: 2.5% 0 5% 0;
}
